<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mskang.mbti">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.선넘었나">
        <activity
            android:name=".scenarios.register.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.선넘었나.NoActionBar" />
        <activity
            android:name=".scenarios.board.BoardListActivity"
            android:exported="false"
            android:label="@string/title_activity_board_list"
            android:theme="@style/Theme.선넘었나.NoActionBar" />
        <activity
            android:name=".scenarios.register.RegisterMBTIActivity"
            android:exported="false"
            android:theme="@style/Theme.선넘었나.NoActionBar" />

        <activity
            android:name=".scenarios.mbti.MBTIDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.선넘었나.NoActionBar" />
        <activity
            android:name=".scenarios.board.detail.PostActivity"
            android:exported="false"
            android:theme="@style/Theme.선넘었나.NoActionBar" />

        <activity
            android:name=".scenarios.board.WriteActivity"
            android:exported="false"
            android:theme="@style/Theme.선넘었나.NoActionBar" />
        <activity
            android:name=".scenarios.login.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.선넘었나.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>